<header>
  <div class="header-grid-container">
    <!-- grid first row -->
    <h1 class="header-title" routerLink="/">CLUB AUTO</h1>
    <div class="circle-icon-container loc">
      <svg>
        <use href="../../assets/icons/icons.svg#locIcon" />
      </svg>
    </div>
    <ul class="list-group address">
      <li class="list-group-item title">ADRESSE :</li>
      <li class="list-group-item">
        <address>
          <p>AVENUE CHARLES DE GAULLE</p>
          <p>75000 PARIS</p>
        </address>
      </li>
    </ul>
    <div class="circle-icon-container phone">
      <svg>
        <use href="../../assets/icons/icons.svg#phoneIcon" />
      </svg>
    </div>
    <ul class="list-group phone">
      <li class="list-group-item title">TELEPHONE :</li>
      <li class="list-group-item">
        <p class="highlighted phone">01 23 45 67 89</p>
      </li>
    </ul>
    <div class="opening">
      <ul class="list-group in-line">
        <li class="list-group-item title">OUVERTURE :</li>
        <li class="list-group-item">
          <p class="highlighted">Du Lundi au Samedi</p>
        </li>
      </ul>
      <ul class="list-group in-line">
        <li class="list-group-item title">HORAIRES :</li>
        <li class="list-group-item">
          <p class="highlighted">De 9h à 17h</p>
        </li>
      </ul>
    </div>
    <ul class="list-group in-line social-network">
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#fbIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#twIcon" />
        </svg>
      </li>
    </ul>
    <button class="menu-toggle" (click)="handleToggle()">
      <svg>
        <use href="../../assets/icons/icons.svg#hamMenuIcon" />
      </svg>
    </button>
    <!-- grid second row -->
    <nav class="navbar" [ngClass]="{ toggled: isToggled }">
      <ul class="list-group">
        <li
          class="list-group-item"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          ACCUEIL
        </li>
        <li
          class="list-group-item"
          [routerLink]="['/products', 'purchase']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          VENTE
        </li>
        <li
          class="list-group-item"
          [routerLink]="['/products', 'rent']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          LOCATION
        </li>
        <li
          class="list-group-item"
          [routerLink]="['/contact']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          CONTACT
        </li>
      </ul>
    </nav>
  </div>
  <!-- extend navbar (left and right) to fill up space between grid and viewport edges -->
  <div class="navbar-extension"></div>
</header>
