<footer>
  <div class="footer-main-container">
    <ul class="list-group club-auto">
      <li class="list-group-item title">
        <span class="span-title">CLUB </span>AUTO
      </li>
      <li class="list-group-item">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed repellat
          consequuntur dicta quaerat cum! Voluptas nemo quis neque quaerat!
          Totam?
        </p>
      </li>
    </ul>
    <ul class="list-group opening">
      <li class="list-group-item title">HORAIRES D'OUVERTURE</li>
      <li class="list-group-item">
        <p>
          <strong>Lundi - Samedi : </strong
          ><span class="highlighted">09:00 - 17:00</span>
        </p>
        <p>
          <strong>Dimanche et jours fériés : </strong
          ><span class="highlighted">Fermé</span>
        </p>
      </li>
    </ul>
    <ul class="list-group newsletter">
      <li class="list-group-item title">NEWSLETTER</li>
      <li class="list-group-item input">
        <p>
          <input type="text" placeholder="Entrez votre email" />
          <svg id="rss">
            <use href="../../assets/icons.svg#rssIcon" />
          </svg>
        </p>
      </li>
      <li class="list-group-item">
        <p>Inscrivez-vous pour recevoir les dernières offres</p>
      </li>
    </ul>
    <ul class="list-group in-line social-network">
      <li class="list-group-item title">RESEAUX SOCIAUX</li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons.svg#fbIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons.svg#twIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons.svg#instaIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons.svg#googleIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons.svg#youTubeIcon" />
        </svg>
      </li>
    </ul>
  </div>
  <hr />
  <div class="footer-copyright">
    Copyright &copy; Club Auto - Tous droits réservés
  </div>
</footer>
