
main {
  display:flex;
  background: url(../../assets/images/bottom.jpg) center center / cover no-repeat fixed;
  height:100%;  
}
section.contact-form {
  /* background: url(../../assets/images/sky.jpg) center center / cover no-repeat fixed; */

}