div.form-group {
  position:relative;
  font-size:1.5rem;
}
label p {
  position: relative;
  margin:10px 0 5px;
  height:2rem;
  vertical-align: bottom;
}
label p::first-letter {
  text-transform: uppercase;
}
label.required p::after {
  content: "*";
  position:absolute;
  top:0px;
  padding-left: 3px;
}
input {
  height: 3rem;
}
textarea {
  resize: vertical;
}
input,textarea {
  outline: none;
  box-sizing:content-box;
  padding:5px 15px;
  border:none;
  background-color: rgb(237, 240, 247);
  width:250px;
}
input:focus,textarea:focus {
  border: 1.5px solid var(--orange);
  border-radius: 5px;
}
p.status {
  display:none;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 2rem;
  font-weight: bold;
}
input.form-control.ng-invalid.ng-dirty {
  border: 1px solid red;
  border-radius: 5px;
}
input.form-control.ng-invalid.ng-dirty ~ p.status.fail {
  display: block;
  color: red;
}
input.form-control.ng-dirty.ng-valid {
  border: 1px solid green;
  border-radius: 5px;
}
input.form-control.ng-dirty.ng-valid ~ p.status.pass {
  display:block;  
  color:green;
}
div.alert-danger {
  color:var(--red);
}
div.alert-danger p {
  margin:0;
  padding:5px 10px;
  width:250px;
}