<main>
  <section class="products">
    <div class="h2-title color-white">
      <h2 *ngIf="contract === 'purchase'">VENTE</h2>
      <h2 *ngIf="contract === 'rent'">LOCATION</h2>
    </div>
    <div class="cards-container">
      <div
        class="card color-white"
        *ngFor="let car of cars; index as idx"
        [routerLink]="['/product', car.id]"
      >
        <img
          src="{{ '../../assets/images/' + car.img }}"
          alt="{{ 'vehicule récent ' + idx }}"
        />
        <div class="card-info">
          <div class="card-text">
            {{ car.make }} {{ car.model }}
            {{ car.options ? car.options.join(", ") : "" }}
          </div>
          <div class="card-price">
            <p class="line-through color-black" *ngIf="car.discount">
              {{
                car.price
                  | roundToNearest : (car.contract === "rent" ? 10 : 100)
                  | currency : "€" : "symbol" : "3.0-0"
              }}{{ car.contract === "rent" ? "/mois" : "" }}
            </p>
            <p>
              {{
                (car.discount ? car.price * car.discount : car.price)
                  | roundToNearest : (car.contract === "rent" ? 10 : 100)
                  | currency : "€" : "symbol" : "3.0-0"
              }}{{ car.contract === "rent" ? "/mois" : "" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
