main {
  /* background: url(../../assets/images/sky.jpg) center center / cover no-repeat fixed; */
  background-color: var(--grey);
}
section.products {
  display:flex;
}
div.h2-title {
  position:relative;
  display:none;
}
div.h2-title h2 {
  position:absolute;
  top:80px;
  left:20px;
  font-size: 3.3rem;
  margin: 0;
  padding:10px 15px;
  transform: rotate(-40deg);
  background-color: var(--orange);
  z-index: 2000;
}
div.cards-container.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

/* div.card {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  margin:15px;
  max-width: 500px;
  cursor: pointer;
}

div.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.4rem;
}

div.card-text {
  font-weight: 600;
}

div.card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: 40px;
}

div.card-price p {
  padding: 5px 10px;
  margin: 0;
}

div.card-price p.line-through {
  text-decoration: line-through;
  font-size: 1.2rem;
  line-height: 1rem;
  padding-bottom: 0;
} */