/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@300;400;500&display=swap');

:root {
  --white:#FFFFFF;
  --grey-light:#eceff3;
  --grey-light-opaque8: rgb(236, 239, 243,.8 );
  --black:#232628;
  --blue:#6C98E1;
  --red:#FF4848;
  --orange:#CC6119;
  --orange-light:#FAB637;  
}

html {
  font-size:62.5%;/* 16px*62.5%=10px, 1rem=10px*/
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;/* IE and Edge */
  scrollbar-width: none;/* Firefox */
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size:4rem;
}
.title {
  font-family: 'Montserrat';
}
.color-white {
  color: var(--white);
}
.color-orange {
  color: var(--orange);
}
.color-black {
  color: var(--black);
}
.color-blue {
  color: var(--blue);
}
.color-grey-light {
  color: var(--grey-light);
}
img {/*image responsiveness*/ 
  object-fit: cover;
  width: 100%;
  height: auto;
}