/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@300;400;500&display=swap');

:root {
  --white:#FFFFFF;
  --grey-light:#eceff3;
  --grey-light-opaque8: rgb(236, 239, 243,.8 );
  --black:#232628;
  --blue:#6C98E1;
  --red:#FF4848;
  --orange:#CC6119;
  --orange-light:#FAB637;  
}

html {
  font-size:62.5%;/* 16px*62.5%=10px, 1rem=10px*/
}

body {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size:4rem;
}
.title {
  font-family: 'Montserrat';
}