<main>
  <section class="contact-form">
    <h2>CONTACTEZ NOUS</h2>
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="container-inputs">
        <app-input
          *ngFor="let props of props.inputs"
          [props]="props"
        ></app-input>
      </div>
      <div class="container-message">
        <app-input [props]="props.textarea"></app-input>
        <button [disabled]="!form.valid">Envoyez</button>
      </div>
      <!-- <p>{{ form.value | json }}</p> -->
    </form>
  </section>
</main>
